@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

body {
  background-color: #1c1c1a;
  color: white;
  overflow-x: hidden;
}

.movies {
  /* position: absolute; */
  display: flex;
  /* top: 50%; */
  /* transform: translate(0, -50%); */
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 10px;
}

.movie + .movie {
  margin-left: 20px;
}

.movie {
  /* background-color: rgba(255, 255, 255, 10%); */
  /* border-radius: 15px; */
  width: 300px;
  flex: 0 0 auto;
  margin: auto;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
}

.movie__title {
  text-align: left;
  font-size: 1rem;
}

.movie__title-icon {
  color: #f3af7f;
  font-size: 0.8rem;
}

.movie__year {
  display: flex;
  justify-content: space-between;
}

.movie__year-title {
  display: inline-block;
  text-align: left;
  font-size: 0.8rem;
  color: rgb(167, 167, 167);
}

.movie__year-hrForm {
  display: inline-block;
}
.movie__year-hr {
  /* display: inline; */
  /* border: 0; */
  border: 1px solid rgb(122, 122, 122);
}

.movie__genre {
  display: inline-block;
  color: rgb(204, 204, 204);
  font-size: 10px;
  padding: 3px;
  border-radius: 5px;
  background-color: gray;
  margin-left: 4px;
}

.movie__image {
  margin-top: 15px;
  border-radius: 5px;
  width: 100%;
}

.footer {
  margin: 15px 0;
  text-align: center;
}
