@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

body {
  background-color: #1c1c1a;
  color: white;
}

.movies {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translate(0, -50%);
  flex-wrap: nowrap;
  overflow-x: auto;
}

.movie + .movie {
  margin-left: 20px;
}

.movie {
  /* background-color: rgba(255, 255, 255, 10%); */
  /* border-radius: 15px; */
  width: 300px;
  flex: 0 0 auto;
  margin: auto;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
}

.movie__title {
  text-align: left;
  font-size: 1rem;
}

.movie__title-icon {
  color: #f3af7f;
  font-size: 0.8rem;
}

.movie__year {
  display: grid;
  grid-column: 30px 1fr;
}

.movie__year-title {
  display: inline-block;
  text-align: left;
  font-size: 0.8rem;
  color: rgb(167, 167, 167);
}

.movie__year-hrForm {
  display: inline-block;
}
.movie__year-hr {
  border: 0;
  border-top: 1px solid rgb(122, 122, 122);
}

.movie__image {
  margin-top: 15px;
  border-radius: 5px;
  width: 100%;
}
